PngImage_1 RCDATA "assets\\img\\1.png"
PngImage_2 RCDATA "assets\\img\\2.png"
PngImage_3 RCDATA "assets\\img\\3.png"
PngImage_4 RCDATA "assets\\img\\4.png"
PngImage_5 RCDATA "assets\\img\\5.png"
PngImage_6 RCDATA "assets\\img\\6.png"
PngImage_7 RCDATA "assets\\img\\7.png"
PngImage_8 RCDATA "assets\\img\\8.png"
PngImage_9 RCDATA "assets\\img\\9.png"
PngImage_10 RCDATA "assets\\img\\story.png"
JpgImage_1 RCDATA "assets\\img\\feed.jpg"
JpgImage_2 RCDATA "assets\\img\\profil.jpg"
